h3{
    padding-top: 40px;
}
div{
    color: black;
    text-align: center;
    background-color: beige;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
}
.row{
    margin-left: 250px;
    margin-right: 250px;
}
.row1{
    padding-bottom: 30px;
}