<!-- <label for="">
    <input type="checkbox" (change) = "toggleMessage()">Show Message
</label>

@if(showMessage)
{
 <p>Hello Welcome to Angular</p>

}@else{
    <p>Message is hidden. Click on checkbox to see message.</p>
} -->
<!-- <select>
    <option value="">Select Country</option>
    @for (country of dropdownList; track $index){
        <option>{{ country }}</option>
    }
</select>
<br><br>

<button (click) = "loadCountries()">Load</button> -->

<!-- <h3>Pick a Color</h3>

<select [(ngModel)]="color">
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
  <option value="default">Default</option>
</select>

<br><br>

@switch (color) {
  @case ("red") {
    <div style="color:red;">Red Color</div>
  }
  @case ("green") {
    <div style="color:green;">Green Color</div>
  }
  @case ("blue") {
    <div style="color:blue;">Blue Color</div>
  }
  @default {
    <div>Default Color</div>
  }
} -->
<h3>Search Filter</h3>

>
<input type="text" [(ngModel)]="searchText" placeholder="Type a name..." class="form-control w-50">

<br>


<select size="5" class="form-select w-50">
  @for (name of names; track name) {
    @if (name.toLowerCase().startsWith(searchText.toLowerCase())) {
      <option>{{ name }}</option>
    }
  }
</select>